.lista:hover {
    background-color: rgba(128, 128, 128, 0.453);
    filter: opacity(.7);
    cursor:pointer;
    -webkit-filter: opacity(.7);
}
th, td {
    padding-right: 200px;
    text-align: left;
    width: 50%;
}