<div class="container py-3">
  <header>
    <div
      class="d-flex flex-column flex-md-row align-items-center mb-4 border-bottom"
    >
      <h3 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Lista de Containers</span>
      </h3>
    </div>
    <div class="lista">
      <app-listar-container
        [listaContainersRecibida]="listaContainers"
        (containerSelecionada)="objetoSelecionado($event)"
      ></app-listar-container>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Alta</h4>
          </div>
          <div class="card-body">
            <app-alta-container
              (containerAgregado)="addLista()"
            ></app-alta-container>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="containersSelecionada && formVisible">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Modificar</h4>
          </div>
          <div class="card-body">
            <app-modificar-container
              [containersRecibido]="containersSelecionada"
              (containerModificado)="seModificoLista($event)"
            ></app-modificar-container>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="containersSelecionada && formVisible">
        <div class="card mb-4 rounded-3 shadow-sm border-danger">
          <div class="card-header py-3 text-white bg-danger border-danger">
            <h4 class="my-0 fw-normal">Eliminar</h4>
          </div>
          <div class="card-body">
            <app-baja-container
              [containersRecibido]="containersSelecionada"
              (containerEliminado)="seModificoLista($event)"
            ></app-baja-container>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-spinner [activarSpinner]="spinner"></app-spinner>
